.hero {
    text-align: center;
    margin-top:5em
}
h1 {
    font-family: 'Khula', sans-serif;
    color:#f5f5f5;
    font-size:4.5em;
    font-weight: 700
}

h2 {
    color:#f5f5f5;
}

.url-hero {
    background-color: #f5f5f5e3;
    width: 40%;
    min-height: 500px;
    height: auto;
    margin: auto;
    padding-bottom: 70px;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 9px;
}
.title-input {
    width:30%
}
.title-inner-input {
    width:100%;
}
.url-input{
    width:70%;
}
.url-inner-input {
    width:100%;
}
@media only screen and (max-width: 950px) {
    .hero {
        margin-top:2em
    }
    .url-hero {
      width:86%;
      min-height:70vh;
    }
    h2 {
        font-size: 1.2em;
    }
    .title-input {
        width:40%;
    }
    .url-input{
        width:60%;
    }
  }

.url-container {
    width:80%;
    margin:auto;
    padding-top:25px;
}

.add-url {
    background-color:#ff9331;
    border-color: #ff9331;
    margin-top:10px;
    float:left
}

.success {
    margin-top:10px;
    float:right
}

::-moz-selection { /* Code for Firefox */
    background: #ff9331;
  }
  
  ::selection {
    background: #ff9331;
  }

.single-url {
    display:block;
    margin-bottom:10px
}

