<app-header></app-header>

<div class = "container">
    <button (click)="redirectHome()" type="button" class="btn btn-light"><i class="fas fa-backspace"></i>  Create another URL</button>

    <div [hidden]="!success">
        <div class="url-success alert alert-success" role="alert">
            <div class = "success-container">
                <label><strong>Congrats!</strong> You shortened some URLs. Here is your link:</label>
                <div class="input-group mb-3">
                    <input class = "url"#copyable type="text" class="form-control" placeholder="N/A" aria-label="copyable url" aria-describedby="basic-addon2" readonly>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" (click)="copyInputMessage(copyable)"><i class="fas fa-copy"></i></span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <table class="table table-striped" *ngIf = "hasUrls()">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
          </tr>
        </thead>
        <tbody *ngFor = "let url of urls.urls; let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{url.Title}}</td>
            <td><a href = "{{url.Url}}">{{url.Url}}</a></td>
          </tr>
        </tbody>
      </table>
</div>