<app-header></app-header>

<div class = "container">
<!-- 
    <div *ngIf = "failed" class = "failed">
        <i class="fas fa-question fa-10x"></i>
        <h1><strong>Oh snap!</strong></h1>
        <h3> <br> Couldn't find your URL, you've probably clicked on an invalid link. To learn more about lync.rip, please visit the <a href = "/">homepage</a></h3>
    </div> -->

    <div [hidden]="!success">
        <button (click)="redirectHome()" type="button" class="btn btn-light"><i class="fas fa-backspace"></i>  Create another URL</button>
        <div class="url-success alert alert-success" role="alert">
            <div class = "success-container">
                <label><strong>Congrats!</strong> You shortened some URLs. Here is your link:</label>
                <div class="input-group mb-3">
                    <input class = "url"#copyable type="text" class="form-control" placeholder="N/A" aria-label="copyable url" aria-describedby="basic-addon2" readonly>
                    <div class="input-group-append copier">
                        <span class="input-group-text" id="basic-addon2" (click)="copyInputMessage(copyable)" data-toggle="tooltip" data-placement="top" title="Copy to clipboard"><i class="fas fa-copy"></i></span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <table class="table table-striped" *ngIf = "hasUrls()">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
          </tr>
        </thead>
        <tbody *ngFor = "let url of urls.urls; let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{url.Title}}</td>
            <td><a href = "{{url.Url}}">{{url.Url}}</a></td>
          </tr>
        </tbody>
      </table>
</div>